<div class="chat-container">
  <!-- User List -->
  <div class="user-list">
    <div *ngFor="let user of users" (click)="selectUser(user)">
      <div [appHighlite]="'yellow'" [appHighliteColor]="'green'" 
      class="user">
        <span >{{ user.name | capsText }}</span>
      </div>
    </div>
  </div>

  <!-- Chat Window -->
  <div class="chat-window">
    <div class="message-box" *ngFor="let message of selectedUserMessages">
      <div *ngIf="message.sender === selectedUser.name">
        <div class="sent-message">{{ message.content }}</div>
      </div>
      <div *ngIf="message.sender !== selectedUser.name">
        <div class="received-message">{{ message.content }}</div>
      </div>
    </div>

    <div class="message-input">
      <input [(ngModel)]="messageContent" placeholder="Type a message" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>

<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <div>
    <label>First Name:</label>
    <input id="firstName">
    <div *ngIf="fg.get('firstName')?.invalid">Invalid Name</div>
  </div>
  <div>
    <label>Last Name:</label>
    <input id="lastName">
  </div>
  <div>
    <label>Email:</label>
    <input id="email">
  </div>
  <button type="submit" [disabled]="fg.valid">Submit</button>
</form>