<div class="chat-container">
  <!-- User List -->
  <div class="user-list">
    <div *ngFor="let user of users" (click)="selectUser(user)">
      <div class="user">
        <span>{{ user.name }}</span>
      </div>
    </div>
  </div>

  <!-- Chat Window -->
  <div class="chat-window">
    <div class="message-box" *ngFor="let message of selectedUserMessages">
      <div *ngIf="message.sender === selectedUser.name">
        <div class="sent-message">{{ message.content }}</div>
      </div>
      <div *ngIf="message.sender !== selectedUser.name">
        <div class="received-message">{{ message.content }}</div>
      </div>
    </div>

    <div class="message-input">
      <input [(ngModel)]="messageContent" placeholder="Type a message" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>